<div class="container">
  <div id="requests">
    <% unless new_requests.empty? %>
      <div id="new-requests" class="row d-flex align-content-start">
        <h3>New Requests</h3>
        <% new_requests.each do |request| %>
          <div class="card me-4 mb-4 p-0" style="width:350px">
            <div class="card-body">
              <h5 class="card-title mb-0"><%= request.requester %></h5>
              <div class="text-muted"><%= request.requester.group_overseer %> Group</div>
              <small class="d-block text-muted font-italic">Requested <%= time_ago_in_words request.items.first.created_at %></small>
              <ul class="list-group mt-2">
                <% request.items.each do |item| %>
                  <li class="list-group-item">
                    <span class="badge bg-info"><%= item.quantity %></span>
                    <small><%= item.publication_name %>
                    <span class="text-muted"><%= item.publication_code %></span></small>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <form method="post" action="/request/status">
                <input type="hidden" name="request_id" value="<%= request.id %>">
                <input type="hidden" name="status_code" value="<%= statuses[:pending] %>">
                <button class="btn btn-secondary btn-sm">Mark Processed</button>
              </form>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless pending_publications.empty? %>
      <div id="pending-items" class="row d-flex align-content-start">
        <h3>Pending Items</h3>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <% pending_publications.each do |publication| %>
                <th><%= publication.name %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% pending_publications.flat_map(&:requesters).map(&:name).uniq.each do |requester| %>
              <tr>
                <td><%= requester %></td>
                <% pending_publications.each do |publication| %>
                  <td>
                    <% items = publication.requesters.select { |person| person.name == requester }.first&.items %>
                    <span class="badge bg-info"><%= items ? items.map(&:quantity).sum : nil %></span>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
