<h1>Hello <%= person %></h1>

<% publications.each do |(name, publications)| %>
  <h3><%= name %></h3>
  <div class="publications row d-flex align-content-start">
    <% publications.each do |publication| %>
      <div class="card mb-4 me-4" style="width:18rem">
        <div class="card-body">
          <h6><%= publication %></h6>
          <form method="post" action="/request/<%= access_id %>/item">
            <input type="hidden" name="key" value="<%= key %>">
            <input type="hidden" name="code" value="<%= publication.code %>">
            <input type="hidden" name="name" value="<%= publication.name %>">
            <button class="btn btn-primary btn-sm">Add</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
